# Core FastAPI
fastapi==0.115.0
uvicorn[standard]==0.30.6
fastapi[standard]
# Environment variables
python-dotenv==1.0.1
pydantic-settings==2.6.0

# PostgreSQL drivers (choose one or keep both)
asyncpg==0.30.0          # async

# File handling (Starlette handles most, but python-multipart is required)
python-multipart==0.0.9

# Hashing
passlib[bcrypt]==1.7.4
